<div class="conteiner-fluid ">
    <div class ="img-fluid">
        <a href=""><img src="../../../assets/git.png" id="git"></a>
        <a href=""><img src="../../../assets/facebook.png" id="face"></a>
        <a href=""><img src="../../../assets/tw.png" id="tw"></a>
        <a href=""><img src="../../../assets/instagram.png" id="ig"></a>
        <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="" _msthash="335881" _msttexthash="131963">Loguin</a>
    </div>
</div>