<div class="row " role="alert">
        <h1> Educacion</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1> Estudio 1</h1> - <h3>(yras)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatibus repudiandae rem vel harum quidem molestiae, quibusdam, ea porro inventore voluptatem sed corporis mollitia consequuntur alias molestias, dolore temporibus eaque.</p>
            </ul>
            <ul>
                <li>
                    <h1> Estudio 2</h1> - <h3>(yeras)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatibus repudiandae rem vel harum quidem molestiae, quibusdam, ea porro inventore voluptatem sed corporis mollitia consequuntur alias molestias, dolore temporibus eaque.</p>
            </ul>
            <ul>
                <li>
                    <h1> Estudio 3 3</h1> - <h3>(yeras)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatibus repudiandae rem vel harum quidem molestiae, quibusdam, ea porro inventore voluptatem sed corporis mollitia consequuntur alias molestias, dolore temporibus eaque.</p>
            </ul>
        </div>
    </div>