<div class="row">
    <h1> Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Trabajo 1</h1> - <h3>(yeras)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatibus repudiandae rem vel harum quidem molestiae, quibusdam, ea porro inventore voluptatem sed corporis mollitia consequuntur alias molestias, dolore temporibus eaque.</p>
        </ul>
        <ul>
            <li>
                <h1> Trabajo 2</h1> - <h3>(yeras)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatibus repudiandae rem vel harum quidem molestiae, quibusdam, ea porro inventore voluptatem sed corporis mollitia consequuntur alias molestias, dolore temporibus eaque.</p>
        </ul>
        <ul>
            <li>
                <h1> Trabajo 3</h1> - <h3>(yeras)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione voluptatibus repudiandae rem vel harum quidem molestiae, quibusdam, ea porro inventore voluptatem sed corporis mollitia consequuntur alias molestias, dolore temporibus eaque.</p>
        </ul>
    </div>
</div>
