.row{
    padding: 15px;
}
div {
    background-color: #aeb0bb;
    text-align: center;
}
#nombre{
    font-weight: bold;
    margin-top: 10%; 

}
/*para pantallas mayor a 576 px*/
@media (min-width:576px) {
    #fp{ 
        position: absolute;
        width: 13%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px green;
        left: 0.6%;
        top: 650;

    }
}
/*para pantallas menor a 576px*/
@media (max-width:575px) {
    #fp{ 
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px green;
        left: 0.6%;
        top: 375px;

    }
}