<div class="row">
    <div class= "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto DePerfil.jpg" class="img-fluid">
        <p>BATISTA Santiago Maximiliano</p>
    </div>
    <div class= "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        
        <p>Full Stack Developer Jr</p>
    </div>
    <div class= "col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>acercademi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus at optio necessitatibus quis odit perspiciatis placeat voluptates expedita aliquam numquam? Odio ad porro aperiam aut temporibus dolore animi tempore sit!</p>
        </span>
    </div>
</div>
